<div class="_container">
  <div class="about-component">
    <div class="about-content">
      <p class="title">Hello, I am AJ!</p>

      <p class="content">
        I am a <span class="accent">DevOps</span> geek. I really enjoy
        exploring
        and creating POC
        whenever I have
        free time. Containerizing
        application for deployment in multiple environments, automating build and deployment, you name it.
      </p>

      <p class="content">
        When I was
        starting out, I accidentally changed the root password on one of our servers. From that moment I knew that this
        mistake would bring out my passion in <span class="accent">System
          Administration</span> (my bachelor's degree was in IT major in Network
        Administration). Since then I gained
        experience in <span class="accent">Linux Administration, Monitoring and Logging, CI/CD, Cloud Services (AWS and
          GCP), Scripting (Bash
          and Python)</span>.
      </p>

      <p class="content"> Other than the
        defaults; playing games and binge watching, I currently spend my free time learning to cook dishes for my
        girlfriend 🤙🏻.
      </p>
    </div>
    <div class="img-container">
      <img src="../../../assets/images/character.svg" alt="character illustration from drawkit.io">
    </div>
  </div>
</div>