<header>
  <div class="header-component _container">
    <div class="header-content">
      <p class="logo">AJQ</p>
      <div class="nav-items">
        <div class="item">
          <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Home</a>
        </div>
        <div class="item">
          <a [routerLink]="['/uses']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Uses</a>
        </div>
        <div class="item">
          <a class="_button" href="mailto:ajquiambao@gmail.com?Subject=Hello%20AJ!" target="_top"
            title="send me an email!">
            Send me an email
          </a>
        </div>
      </div>
    </div>
    <div class="cta-container">
      <div class="button">
        <a class="_button" href="mailto:ajquiambao@gmail.com?Subject=Hello%20AJ!" target="_top"
          title="send me an email!">
          Send me an email
        </a>
      </div>
    </div>
  </div>
</header>